#con-1 {
	background-image: url(../images/hero.jpg);
	background-size: cover;
	height: 97vh;
	text-align: center;
	color: white;
}

#disp {
	padding-top: 20vh;
	padding-bottom: 20px;
	font-size: xx-large;
}

#mouse {
	padding-top: 240px;
}
.topnav {
    background-color: rgba(255,255,255,0);
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  float: right;
}

#con-2 {
	background-color: #C8BCB9;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.button {
	float: right;
	background-color: brown;
	border: none;
	padding: 15px 32px;
	text-align: center;
	color: white;
	margin-top: -13px;
}

#con-3, #con-6 {
	padding: 40px 40px 30px 40px;
}

hr {
	margin-top: 10px;
	height: 5px;
}

#fan {
	color: 	rgb(207,181,59);
	float: right;
	align-content: right;
	padding-top: 15px;
}

#con-4 {
	padding-right: 40px;
}

#con-5 {
	margin-top: 60px;
	padding-right: 40px;
	padding-left: 40px;
}

#men {
	padding-top: 10px;
}

.card {
	background-color: gainsboro;
	border: none;
	padding: 15px 15px 15px 15px;
	display: flex;
	height: 325px;
	width: 290px;
}

.card img {
	direction: block;
	margin-left: auto;
	margin-right: auto;
}

.dots {
	float: right;
}

.description {
	color: 	rgb(207,181,59);
}

.price {
	float: right;
	align-content: right;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}